*.iml
.gradle/
.kotlin/
/local.properties
local.properties
.idea/
.DS_Store
/build/
build/
app/build/
/captures
.externalNativeBuild
.cxx
.env
debug.keystore
*.apk
*.hprof
*.log
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
